.infoCabeca{
    background-color:azure;
    text-align: center;
}

.cabeca{
    background-color: #27ce86;
    text-align: center;
    padding: 5px;
}

.cabeca span{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

#definirCliente{
    font-weight: bold;
    color: #27ce86;
}

#caixaPesquisa{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
}

#caixaPesquisa input{
    width: 80%;
    border: none;
}

#caixaPesquisa span{
    color: #27ce86;
    font-weight: bold;
}

#caixaPesquisa input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#imagemPesquisa{
    float: right;
}

#imagemPesquisa img{
    width: 30px;
}

#caixaQuantidade{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
}

.valorCaixa {
    color: black;
    font-weight: bold;
    float: right;
}

#caixaValorTotalCompra{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #27ce86;
    color: white;
}

#valorTotalCompra{
    font-size: 19px;
}

.opcoes{
    text-align: center;
    margin: 5px;
    padding: 5px;
    color: #27ce86;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px -2px #000000; 
    box-shadow: 0px 0px 5px -2px #000000;
}

.rodape{
    margin-left: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.textoCaixa{
    color: #27ce86;
    font-weight: bold;
}

.cupomFiscal{
    background-color: white;
    width: 100%;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    padding: 0;
}

.cupomFiscal span{
    font-weight: bold;
    font-size: 25px;
}

.tabelaProdutos{
    width: 100%;
}

.tabelaProdutos tr{
    color: #8f9299;
    margin-bottom: 5px;
}

.nomeProduto{
    font-weight: bold;
    color: black;
}

#conteudoCupom{

}

#caixaFinalizarVenda{
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    background-color: #27ce86;
    color: white;
    font-weight: bold;
}
